<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="../-shared/__external/normalize.css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../-shared/__external/OLSKLayout/ui-style.css" />
	<link rel="stylesheet" type="text/css" href="../-shared/_common/ui-style.css" />
	<link rel="stylesheet" type="text/css" href="../open-popover/__compiled/ui-style.css" />
	
	<script src="../-shared/__external/simplecrypto/src/simplecrypto.js"></script>

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return {
				OLSKSharedPageCurrentLanguage: '<%= OLSKSharedPageCurrentLanguage %>',
			}[inputData];
		};
	</script>
</head>
<body class="OLSKCommon">

<script src="../open-popover/__compiled/ui-behaviour.js"></script>

</body>
</html>
