<!DOCTYPE html>
<html>
<head>
	<title>Stub Popover</title>
	<style src="/-shared/--external/normalize.css/normalize.css"></style>
	<link rel="stylesheet" type="text/css" href="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-style.css">
	<script src="/-shared/--external/cryptico/cryptico.min.js"></script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

</body>
</html>
