<!DOCTYPE html>
<html>
<head>
	<title>Stub Popover</title>
	<link rel="stylesheet" type="text/css" href="/-shared/--external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/open-popover/__compiled/ui-style.css">
	
	<script src="/-shared/--external/cryptico/cryptico.min.js"></script>
	
	<script src="/open-popover/__compiled/ui-behaviour.js"></script>
	<script src="/open-popover/ui-behaviour.js"></script>
</head>
<body>

<script type="text/javascript">
LBXPopoverBehaviour.LifecyclePageWillLoad();
</script>

</body>
</html>
