:root {
	--OLSKCommonBackground: hsl(0, 0%, 97%);
	--OLSKCommonForeground: hsl(0, 0%, 0%);
	
	--LBXPopoverPadding: 10px;
}

:global(html, body) {
	width: 200px;
	height: 200px;
}

:global(body) {
	background: var(--OLSKCommonBackground);
	color: var(--OLSKCommonForeground);
}

.LBXPopover {
	padding: var(--LBXPopoverPadding)
}

.LBXPopover > * {
	width: 100%;

	margin-bottom: var(--LBXPopoverPadding);
}

input {
	padding: 5px;
	border: 1px solid var(--OLSKCommonForeground);
	border-radius: 5px;
	
	/* browser quirks https://davidwalsh.name/textarea-width */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button {
	text-align: center;
}
