:global(html, body) {
	width: calc(200px - var(--OLSKCommonContainerPadding) * 2);
	height: calc(200px - var(--OLSKCommonContainerPadding) * 2);
}

.LBXPopover p:first-child {
	margin-top: 0;
}

.LBXPopover p > * {
	width: 100%;
}

input {
	padding: 5px;
	border: 1px solid var(--OLSKCommonForeground);
	border-radius: 5px;
	
	/* browser quirks https://davidwalsh.name/textarea-width */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button {
	text-align: center;
}
