<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="../../../-shared/__external/normalize.css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/open-settings/submodules/LBXSettingSimulate/__compiled/ui-style.css">

	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return {
				OLSKSharedPageCurrentLanguage: '<%= OLSKSharedPageCurrentLanguage %>',
			}[inputData];
		};
	</script>
</head>
<body>

<script src="/open-settings/submodules/LBXSettingSimulate/__compiled/ui-behaviour.js"></script>

</body>
</html>
